
/* HEADER */

@media(max-width: 1800px){
    .back-fundo{
        height: 854px;
    }

    .list-style{
        font-size: 18px;
    }

    .img-logo-header{
        width: 60px;
    }    
}

@media(max-width: 1717px){
    .back-fundo{
        height: 751px;
    }

    .list-style{
        font-size: 15px;
    }

    .img-logo-header{
        width: 50px;
    }
}

@media (max-width: 1474px){
    .back-fundo{
        height: 626px;
    }

    .list-style{
        font-size: 12px;
    }

    .img-logo-header{
        width: 40px;
    }
}

/* AGENTES */

@media(max-width: 1800px){
    .img-main{
        width: 900px;
    }
}

@media(max-width: 1717px){
    .img-main{
        width: 874px;
    }

    .titulo-agentes{
        font-size: 55px;
    }

    .child-main-desc{
        padding: 65px;
    }

    .desc{
        font-size: 30px;
        line-height: 40px;
    }

    .botao{
        font-size: 20px;
        padding: 15px 22px;
    }
}

@media(max-width: 1600px){
    .img-main{
        width: 760px;
    }

    .titulo-agentes{
        font-size: 47px
    }    

    .desc{
        font-size: 30px;
    }
}

@media (max-width: 1474px){
    .img-main{
        width: 670px;
    }

    .titulo-agentes{
        font-size: 40px
    }

    .child-main-desc{
        padding: 40px;
    }

    .desc{
        font-size: 25px;
        line-height: 35px;
    }

    .botao{
        font-size: 15px;
        padding: 12px 20px;
    }
}

/* PIXELS */

@media (max-width: 1879px){
    .img-pixels{
        width: 360px;
        height: 200px;
    }
}

@media (max-width: 1866px){
    .img-pixels{
        width: 330px;
        height: 190px;
    }
}

@media(max-width: 1717px){
    .titulo-pixels{
        font-size: 55px;
    }

    .child-desc-pixels{
        font-size: 30px;
        line-height: 40px;
    }
}

@media(max-width: 1600px){
    .titulo-pixels{
        font-size: 47px
    }    

    .child-desc-pixels{
        font-size: 30px;
    }
}

@media (max-width: 1483px){
    .img-pixels{
        width: 300px;
        height: 190px;
    }
}

@media (max-width: 1474px){
    .img-pixels{
        width: 320px;
        height: 200px;
    }

    .child-pixels-desc{
        padding: 20px;
    }

    .titulo-pixels{
        font-size: 40px;
    }

    .child-desc-pixels{
        font-size: 25px;
        line-height: 35px;
        margin: 50px;
    }

    .botao{
        font-size: 15px;
        padding: 12px 20px;
    }
}

@media (max-width: 1400px){
    .img-pixels{
        width: 250px;
        height: 150px;
    }
}

/* MAPAS */

@media(max-width: 1800px){
    .titulo-mapas{
        font-size: 80px;
    }

    .desc-mapas{
        font-size: 40px;
        line-height: 60px;
        padding: 0 100px;
    }

    .container-mapas{
        height: 650px;
    }
}

@media(max-width: 1717px){
    .titulo-mapas{
        font-size: 60px;
    }

    .desc-mapas{
        font-size: 30px;
        line-height: 60px;
        padding: 0 150px;
    }

    .container-mapas{
        height: 550px;
    }

    .botao-mapas{
        font-size: 20px;
        padding: 15px 22px;
    }
}

@media (max-width: 1474px){
    .titulo-mapas{
        font-size: 50px;
    }

    .desc-mapas{
        font-size: 25px;
        line-height: 40px;
    }

    .container-mapas{
        height: 450px;
    }

    .botao-mapas{
        font-size: 15px;
        padding: 12px 20px;
    }
}